*
{
    font-family: sans-serif;
    font-size: 40px;
}
#container
{
border: 1px solid gray;
background-color: #eee;
margin: 20px;
height: 800px;
display: flex;
flex-wrap: wrap;
/* justify-content: space-evenly;
align-items: flex-start;
flex-direction: column;
align-content: space-around; */
justify-content: flex-start;
align-items: flex-start;
flex-direction: row;
}
.square
{
height: auto;
height: 300px;
/* width: 300px; */
background-color: bisque;
display: flex;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
transition: all 0.2s ease-out;
justify-content: center;
align-items: center;
flex-basis: 300px;
flex-grow: 1;
flex-shrink: 1;

}
.square:hover
{
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
    opacity: 80%;
    
}
#first
{
flex-grow: 5;
order: 5;
}
#middle
{
    flex-shrink: 5;
    order: 2;
}
#last
{
order: 3;
}
/* #middle
{
    overflow: hidden;
    background-image: radial-gradient(#ff7788, #9988ff,#99ff99);
} */